<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
  </head>
  <body>
    <h1>Give your space a name and confirm your username,
      then click 'Publish my space'</h1>
    <form action='/add-space' method='post'>
      <input type='text' name='space_name' placeholder='My space is called...'>
      <input type='submit' value='Publish my space'>
    </form>
    <% if @user %>
      <p>You are logged in as: <%= @user.username %></p>
    <% end %>
    <br>
      <a href='/spaces'>View spaces</a>
  </body>
</html>
