<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
  </head>
  <nav>

    <ul>
      <li><a href='/spaces'>Home</a><li> &nbsp &nbsp
      <li><a href='/create-a-space'>List a space</a></li> &nbsp &nbsp
      <li><a href="/view-booking-requests">Requests</a></li> &nbsp &nbsp
      <li><a href="/">Sign out</a></li>
    </ul>

  </nav>
  <body>
    <h1>Give your space a name, then click 'Publish my space'</h1>
    <form action='/add-space' method='post'>
      <p>
        <input type='text' name='space_name' placeholder='My space is called...'>
        Your space's name!
      </p>
      <p>
        <input type='date' name='start_availability'>
        The first date your space is available
      </p>
      <p>
        <input type='date' name='end_availability'>
        The last date your space is available
      </p>
      <p>
        <input type='submit' value='Publish my space'>
      </p>
    </form>
    <% if @user %>
      <p>You are logged in as: <%= @user.username %></p>
    <% end %>
    <br>
      <a href='/spaces'>View spaces</a>
  </body>
</html>
