
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
  </head>
  <h1>MakersBnB</h1>
  <body>
    <form action="/user_signup" method="post">
    <input type="text" name="username" placeholder="Username" size="80" /><br>
    <input type="text" name="email" placeholder="Email" size="80" /><br>
    <input type="text" name="password" placeholder="Password" size="80" /><br>
    <input type="submit" value="Submit" />
  </form>
  </body>
</html>
