<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @spaces.each do |space| %>
        <li>
          <a href='/update_space/<%= space.id %>'>
            <%= space.spacename %>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
