<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View booking requests</title>
  </head>
  <nav>

    <ul>
      <li><a href='/spaces'>Home</a><li> &nbsp &nbsp
      <li><a href='/create-a-space'>List a space</a></li> &nbsp &nbsp
      <li><a href="/view-booking-requests">Requests</a></li> &nbsp &nbsp
      <li><a href="/">Sign out</a></li>
    </ul>

  </nav>
  <body>
    <h1>Your booking requests</h1>
    <ul>
      <% @requests.each do |request| %>
        <li><%= request['spacename'] + " has been requested from " + request['startdate'] + " to " + request['enddate'] %></li>
      <% end %>
    </ul>
  </body>
</html>
