<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @user_booking.each do |booking| %>
      <li>
        <a href='/space_profile/<%= space.id %>'>
          <%= sp.spacename %>
        </a>
      </li>
    <% end %>
  </body>
</html>
